{% import 'macros/result_item_macro.html' as resultItem %}
{% extends '_base.html' %}

{% block main %}
  <div class="b-author-page">
    {# Author's Info #}
    <div class="b-top-section">
      <div class="row">
        <h2>{{value}}</h2>
        </div>
      </div>
    </div>
  </div>

    {# Article Section #}
    <div class="b-divider b-filter-panel m-black">
      <div class="b-filter-ui js-and">
        <h2>Articles</h2>
      </div>
    </div>

    {# List of Articles #}
    <div class="b-page-section b-results-section b-isotope">
      {% for paper in $global.papers %}
        {% if value in paper.authors %}
          {{resultItem.createResult(paper)}}
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
