{% import 'macros/result_item_macro.html' as resultItem %}
{% extends '_base.html' %}

{% block main %}
<div class="b-categories-page">
  <div class="b-filter-ui js-and">
    <div class="b-top-section m-{{title | slug}}">
      <div class="row">
        <div class="large-12 column">
          <h1>{{ title }}</h1>
          <h3 class="e-tagline">{{description}}</h3>
        </div>
        <span class="b-filter-ui-container js-multi">
          <div class="switch">
            <label>
              All Articles
              <input type="checkbox" class="b-filter" data-filter="f-open">
              <span class="lever"></span>
              Free Articles Only
            </label>
          </div>
        </span>
      </div>
      <div class="row">
        <div class="column large-8 large-offset-2">
          <form action="" class="b-form m-negative">
            <input id="lunr-filter" type="text" placeholder="Search" data-category="{{custom_filter | slug }}" />
          </form>
        </div>
      </div>
    </div>
    <div class="b-divider b-filter-panel m-black">

      

      <h2>Filters</h2>

      {% for name, filters in $global.filters %}
        {% if name == custom_filter|slug %}
          <div class="row">
            <form action="#" class="b-form">
              <div class="b-filter-ui-container">
                <div class="large-2 columns">
                  <div class="e-select">
                    <select name="" id="" class="b-filter js-change"{% if filters.organizations | length == 0 %} disabled{% endif %}>
                      <option data-filter="*">Organizations</option>
                      {% for item in filters.organizations %}
                        <option data-filter="f-{{ item | slug }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="b-filter-ui-container">
                <div class="large-2 columns">
                  <div class="e-select">
                    <select name="" id="" class="b-filter js-change"{% if filters.objectives | length == 0 %} disabled{% endif %}>
                      <option data-filter="**">Objective</option>
                      {% for item in filters.objectives %}
                        <option data-filter="f-{{ item | slug }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="b-filter-ui-container">
                <div class="large-2 columns">
                  <div class="e-select">
                    <select name="" id="" class="b-filter js-change"{% if filters.methodologies | length == 0 %} disabled{% endif %}>
                      <option data-filter="***">Methodology</option>
                      {% for item in filters.methodologies %}
                        <option data-filter="f-{{ item | slug }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="b-filter-ui-container">
                <div class="large-2 columns">
                  <div class="e-select">
                    <select name="" id="" class="b-filter js-change"{% if filters.sectors | length == 0 %} disabled{% endif %}>
                      <option data-filter="*****">Sector</option>
                      {% for item in filters.sectors %}
                        <option data-filter="f-{{ item | slug }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="b-filter-ui-container">
                <div class="large-2 columns">
                  <div class="e-select">
                    <select name="" id="" class="b-filter js-change"{% if filters.regions | length == 0 %} disabled{% endif %}>
                      <option data-filter="*****">Region</option>
                      {% for item in filters.regions %}
                        <option data-filter="f-{{ item | slug }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="b-filter-ui-container">
                <div class="large-2 columns">
                  <div class="e-select">
                    <select name="" id="" class="b-filter js-change"{% if filters.types | length == 0 %} disabled{% endif %}>
                      <option data-filter="******">Type</option>
                      {% for item in filters.types %}
                        <option data-filter="f-{{ item | slug }}">{{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

    <div class="b-page-section b-results-section b-isotope">
    {% for d in $global.papers %}

    {% if custom_filter == "All" %}
    {{resultItem.createResult(d)}}
    {% else %}

    {%- set _match = false -%}
    {%- for i in d.taxonomy.category -%}
      {%- if i == custom_filter -%}
        {%- set _match = true -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if custom_filter == false -%}
       {%- set _match = true -%}
    {%- endif -%}

    {% if _match %}
        {{resultItem.createResult(d)}}
      {% endif %}
    {%endif%}
      {% endfor %}
    </div>
  </div>
  {% endblock %}