{% extends '_base.html' %}
{% block main %}
<div class="b-categories-page">
  <div class="b-top-section m-purple">
      <div class="row">
        <div class="large-12 column">
          <h1>{{ title }}</h1>
          <h3 class="e-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, praesentium, ipsa nam quam.</h3>
        </div>
        <div class="switch">
            <label>
              All Articles
              <input type="checkbox">
              <span class="lever"></span>
              Free Articles Only
            </label>
        </div>
      </div>
  </div>
  <div class="b-divider b-filter-panel m-black">
    <div class="b-filter-ui js-and">
      <div class="row">
        <h2>filter ui</h2>
          <h3>multi select container</h3>
          <div class="b-filter-ui-container js-multi">
            <a class="b-button b-filter js-default js-clear-all" data-filter="*">all</a>
            <a class="b-button b-filter" data-filter="man">man</a>
            <a class="b-button b-filter" data-filter="dog">dog</a>
            <a class="b-button b-filter" data-filter="bear">bear</a>
          </div>
          <h3>single select container</h3>
          <div class="b-filter-ui-container">
            <a class="b-button b-filter" data-filter="thing">thing</a>
            <a class="b-button b-filter" data-filter="potato">potato</a>
            <a class="b-button b-filter" data-filter="car">car</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-page-section b-results-section">
      {% for d in $global.papers %}
      {% if d.taxonomy.category == title %}
      <div class="b-result-item m-access-{{d.access}} m-{{d.taxonomy.category}}">
        <a href="{{d.url}}" title="{{d.title}}">
          {# {% if d.cover_image %}
            <div class="e-result-image" style="background-image: url('{{d.cover_image}}')"></div>
          {% endif %} #}

          <h3 class="e-result-name">{{d.title}}</h3>

          {% if d.authors %}
            <p class="e-result-authors">{% for a in d.authors %} {{a}}, {% endfor %}</p>
          {% endif %}

          {% if d.taxonomy.category %}
          <div class="e-result-taxonomy m-category">
            <p>Category</p>
            {% for cat in d.taxonomy.category %} <span>{{cat}}</span> {% endfor %}
          </div>
          {% endif %}

          {% if d.taxonomy.methodology %}
          <div class="e-result-taxonomy m-methodology">
            <p>Methodology</p>
            {% for met in d.taxonomy.methodology %} <span>{{met}}</span> {% endfor %}
          </div>
          {% endif %}

          {% if d.taxonomy.objective %}
          <div class="e-result-taxonomy m-objective">
            <p>Objective</p>
            {% for obj in d.taxonomy.objective %} <span>{{obj}}</span> {% endfor %}</div>
          {% endif %}

          <div class="e-result-extras">
            {% if d.github %} <img src="img/github-logo.svg" alt=""> {% endif %}
            {% if d.datasets %} <i class="material-icons" title="Datasets">file_download</i>{% endif %}
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}