{% extends '_base.html' %}

{% import '_macros.html' as $macros %}

{% block main %}
<div class="b-categories-page">
  <div class="b-filter-ui js-and">
    <div class="b-top-section m-{{title | slug}}">
      <div class="row">
        <div class="large-12 column">
          <h1>{{ title }}</h1>
          <h3 class="e-tagline">{{description}}</h3>
        </div>
        <span class="b-filter-ui-container js-multi">
          <div class="switch">
            <label>
              All Articles
              <input type="checkbox" class="b-filter" data-filter="f-open">
              <span class="lever"></span>
              Free Articles Only
            </label>
          </div>
        </span>
      </div>
    </div>
    <div class="b-divider b-filter-panel m-black">
      <h2>Filters</h2>

      <form action="#" class="b-form">
        <div class="row">

          <input id="lunr-filter" type="text" placeholder="Search" />

        <div class="row">

          {{ $macros.getFilterOptions($global.papers, "Organization", custom_filter, false, 1) }}
          {{ $macros.getFilterOptions($global.papers, "Objective", custom_filter, true, 2, "taxonomy") }}
          {{ $macros.getFilterOptions($global.papers, "Methodology", custom_filter, true, 3, "taxonomy") }}
          {{ $macros.getFilterOptions($global.papers, "Sector", custom_filter, false, 4) }}
          {{ $macros.getFilterOptions($global.papers, "Region", custom_filter, false, 5) }}
          {{ $macros.getFilterOptions($global.papers, "Type", custom_filter, false, 6) }}

        </div>
      </form>
    </div>
  </div>

  <div class="b-page-section b-results-section b-isotope">
    {% for d in $global.papers %}

    {%- set _match = false -%}
    {%- for i in d.taxonomy.category -%}
      {%- if i == custom_filter -%}
        {%- set _match = true -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if custom_filter == false -%}
       {%- set _match = true -%}
    {%- endif -%}

    {% if _match %}
    <div class="b-result-item m-access-{{d.access | slug}} f-{{d.organization | slug}} f-{{d.taxonomy.objective | slug}} f-{{d.access | slug}} f-{{d.taxonomy.methodology | slug}} f-{{d.sector | slug}} f-{{d.sector | slug}} f-{{d.region | slug}} f-{{d.sector | slug}} f-{{d.type | slug}} f-search-{{d.id}}{% for c in d.taxonomy.category %} m-{{ c | slug}}{% endfor %} ">


      <a href="{{d.id}}-{{d.title | slug}}.html" title="{{d.title}}">
        {# {% if d.cover_image %}
        <div class="e-result-image" style="background-image: url('{{d.cover_image}}')"></div>
        {% endif %} #}



        <h3 class="e-result-name">{{d.title}}</h3>

        {% if d.authors %}
        <p class="e-result-authors">
          {% for author in d.authors %}
            {{ author }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
        {% endif %}


        <!-- These IF statements are not really working.  -->

        {% if d.taxonomy.category %}
        <div class="e-result-taxonomy m-category">
          <p>Category</p>
          {% for cat in d.taxonomy.category %} <span class="m-{{cat}}">{{cat}}</span> {% endfor %}
        </div>
        {% endif %}

        {% if d.taxonomy.methodology %}
        <div class="e-result-taxonomy m-methodology">
          <p>Methodology</p>
          {% for met in d.taxonomy.methodology %} <span>{{met}}</span> {% endfor %}
        </div>
        {% endif %}

        {% if d.taxonomy.objective %}
        <div class="e-result-taxonomy m-objective">
          <p>Objective</p>
          {% for obj in d.taxonomy.objective %} <span>{{obj}}</span> {% endfor %}</div>
        {% endif %}

          <div class="e-result-extras m-{{d.organization | slug }}">
            {% if d.organization == "the-govlab" %}
              <img class="e-organization-logo" src="img/organizations/govlab-logo-white.png" alt="The GovLab">
            {% elif d.organization == "mysociety" %}
              <img class="e-organization-logo" src="img/organizations/mysociety-logo-white.png" alt="mySociety">
            {% elif d.organization == "world-bank-digital-engagement-evaluation-team" %}
              <img class="e-organization-logo" src="img/organizations/deet-logo-white.png" alt="Digital Engagement Evaluation Team">
            {% endif %}

            {% if d.github %} <img class="e-github-logo" src="img/github-logo.svg" alt=""> {% endif %}
            {% if d.datasets %} <i class="material-icons" title="Datasets">file_download</i>{% endif %}
            {% if d.access == "Closed" %} <i class="material-icons m-closed-access" title="Closed Access">lock_outline</i>{% endif %}
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endblock %}