{% extends '_base.html' %}

{% block main %}
  {# main content starts here #}
  <div class="b-organization-page">
    {# Organization Header #}
    <div class="b-top-section" style="background-color: #{{ color }};">
      <div class="row">
        <div class="large-6 column e-image-column">
          <img class="e-org-logo" src="img/organizations/{{ image_white }}" alt="{{title}}" title="{{title}}">
          <span class="b-button">More Information</span>
        </div>
        <div class="large-6 column">
          <p class="e-description">{{ short_description }}</p>
          {% if social_media %}
            <div class="e-extras">
              {% if social_media.twitter %}
                <a href="{{ social_media.twitter }}" class="b-social-media-icon m-twitter" target="_blank"><img src="./img/twitter-logo.png" alt="{{title}} Twitter" title="{{title}} Twitter"></a>
              {% endif %}
              {% if social_media.github %}
                <a href="{{ social_media.github }}" class="b-social-media-icon m-github" target="_blank"><img src="./img/github-logo.svg" alt="{{title}} Github" title="{{title}} Github"></a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      {# Extra Info Panel #}
      <div class="b-extra-info-panel">
        <div class="row">
          <div class="large-6 column">
            <h2>Title for section</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quidem tempora libero, nulla, optio sapiente similique provident maiores, officia ducimus dolor, laudantium? Neque consequatur, nostrum, nisi soluta at ipsum nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio libero, ducimus. Vitae consequatur, deserunt vero, accusantium corporis voluptatum eum consequuntur iste animi assumenda sed eaque? Tenetur adipisci, ad rerum asperiores.</p>
          </div>
          <div class="large-6 column">
            <h2>Title for more information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur veritatis molestiae, sapiente possimus praesentium obcaecati sequi, voluptatibus velit id, a totam esse deleniti fugit sunt enim. Quia, nulla sunt autem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, deleniti cum at consequuntur aliquid officiis, veniam error aliquam quaerat, explicabo illum optio ea doloremque illo, similique culpa dolorum tenetur dolores.</p>
          </div>
        </div>
      </div>
    </div>

    {# Article Section #}
    <div class="b-divider b-filter-panel m-black">
      <div class="b-filter-ui js-and">
        <h2>Articles</h2>
      </div>
    </div>

    {# List of Articles #}
    <div class="b-page-section b-results-section b-isotope">
      {% for paper in $global.papers %}
        {% if paper.organization == title|slug %}
        {# A gente precisa levar em consideração o custom_filter #}
        {#  
          IF custom_filter
            filter by custom_filter
          ELSE
            filter by title|slug
        #}

          <div class="b-result-item m-access-{{ paper.access | slug }} {% for category in paper.taxonomy.category %} m-{{ category | slug }}{% endfor %} f-{{ paper.access | slug }}">
            <a href="{{ paper.id }}-{{ paper.title | slug }}.html" title="{{ paper.title }}">
              <h3 class="e-result-name">{{ paper.title }}</h3>

              {% if paper.authors %}
                <p class="e-result-authors">
                  {% for author in paper.authors %}
                    {{ author }}{% if not loop.last %},{% endif %}
                  {% endfor %}
                </p>
              {% endif %}

              {% if paper.taxonomy.category %}
                <div class="e-result-taxonomy m-category">
                  <p>Category</p>
                  {% for category in paper.taxonomy.category %}
                    <span class="m-{{ category }}">{{ category }}</span>
                  {% endfor %}
                </div>
              {% endif %}

              {% if paper.taxonomy.methodology %}
                <div class="e-result-taxonomy m-methodology">
                  <p>Methodology</p>
                  {% for methodology in paper.taxonomy.methodology %}
                    <span>{{ methodology }}</span>
                  {% endfor %}
                </div>
              {% endif %}

              {% if paper.taxonomy.objective %}
                <div class="e-result-taxonomy m-objective">
                  <p>Objective</p>
                  {% for objective in paper.taxonomy.objective %}
                    <span>{{ objective }}</span>
                  {% endfor %}
                </div>
              {% endif %}

              {# {% if paper.organization == "the-govlab" %}
                <div class="e-result-extras m-{{ paper.organization | slug }}">
                  <img class="e-organization-logo" src="img/organizations/govlab-logo-white.png" alt="The GovLab">
                </div>
              {% elif paper.organization == "mysociety" %}
                <div class="e-result-extras m-{{ paper.organization | slug }}">
                  <img class="e-organization-logo" src="img/organizations/mysociety-logo-white.png" alt="mySociety">
                </div>
              {% elif paper.organization == "world-bank-digital-engagement-evaluation-team" %}
                <div class="e-result-extras m-{{ paper.organization | slug }}">
                  <img class="e-organization-logo" src="img/organizations/deet-logo-white.png" alt="Digital Engagement Evaluation Team">
                </div>
              {% endif %} #}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
