{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->
<div class="b-paper-page">
  <div class="b-top-section m-{{organization}}">
    <div class="row">
      <div class="large-10 column small-centered">
        {% if organization == "the-govlab" %}
          <img class="e-organization-logo" src="img/organizations/govlab-logo.png" alt="">
        {% elif organization == "mysociety" %}
          <img class="e-organization-logo" src="img/organizations/mysociety-logo.svg" alt="">
        {% elif organization == "world-bank-digital-engagement-evaluation-team" %}
          <img class="e-organization-logo" src="img/organizations/deet-logo-white.png" alt="">
        {% endif %}
        <h1 class="e-paper-title">{{ title }}</h1>
        <h3 class="e-paper-authors">
          {% for author in authors %}
            {{ author }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </h3>
        <h4 class="e-paper-date">{{ paper_date }}</h4>
      </div>
    </div>

    <div class="e-meta-info">
      <div class="row">
        <div class="medium-6 columns">
          {% if type %}
            <div class="row">
              <div class="column small-4 medium-6 e-left-column">Type</div>
              <div class="column small-8 medium-6 type">{{ type }}</div>
            </div>
          {% endif %}

          {% if region %}
            <div class="row">
              <div class="column small-4 medium-6 e-left-column">Region</div>
              <div class="column small-8 medium-6 region">{{ region }}</div>
            </div>
          {% endif %}

          {% if sector %}
            <div class="row">
              <div class="column small-4 medium-6 e-left-column">Sector</div>
              <div class="column small-8 medium-6">{{ sector }}</div>
            </div>
          {% endif %}
        </div>

        <div class="medium-6 columns">
          {% if taxonomy.category %}
            <div class="row">
              <div class="column small-4 medium-4 e-left-column">Category</div>
              <div class="column small-8 medium-8">
                {% for category in taxonomy.category %}
                  {{ category }}{% if not loop.last %},{% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if taxonomy.methodology %}
            <div class="row">
              <div class="column small-4 medium-4 e-left-column">Methodology</div>
              <div class="column small-8 medium-8">
                {% for methodology in taxonomy.methodology %}
                  {{ methodology }}{% if not loop.last %},{% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if taxonomy.objective %}
            <div class="row">
              <div class="column small-4 medium-4 e-left-column">Objective</div>
              <div class="column small-8 medium-8">
                {% for objective in taxonomy.objective %}
                  {{ objective }}{% if not loop.last %},{% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="e-download-container">
      <a href="{{ url }}" class="b-button e-download">Download this Paper</a>
    </div>
  </div>

  {% if abstract %}
    <div class="b-page-section e-paper-content">
      <div class="row">
        <div class="large-3 column">
          <h3 class="e-description-title">Abstract</h3>
          {% if datasets or github or twitter %}
            <div class="e-extras">
              {% if datasets %}<a href="{{ datasets }}" class="e-extra-item">Datasets</a>{% endif %}
              {% if github %}<a href="{{ github }}" class="e-extra-item">Github</a>{% endif %}
              {% if twitter %}<a href="{{ twitter }}" class="e-extra-item">Twitter</a>{% endif %}
            </div>
          {% endif %}
        </div>
        <div class="large-7 column end">
          <p class="e-description">{{ abstract }}</p>
        </div>
      </div>

      {% if datasets or github or twitter %}
        <div class="row">
          <div class="large-7 large-offset-3 column">
            <div class="e-extra-data">
              {% if datasets %}<a href="{{ datasets }}" class="b-button">Databases</a>{% endif %}
              {% if github %}<a href="{{ github }}" class="b-button">Github</a>{% endif %}
              {% if twitter %}<a href="{{ twitter }}" class="b-button">Twitter</a>{% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}