{% extends '_base.html' %}
{% block main %}
<div class="b-about-page">
  <div class="b-top-section m-teal">
    <div class="row">
      <div class="large-12 column">
        <h1 class="e-tagline">About</h1>
      </div>
    </div>
  </div>


  <div class="b-page-section b-main-search-section">
      <div class="row">
        <div class="large-12 column">
          <h2 class="e-tagline">Want to learn more?</h2>
        </div>
      </div>
  </div>


  <div class="b-page-section">
      <div class="row">
          <div class="column large-8 column large-offset-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>
          </div>
      </div>
  </div>

</div>
{% endblock %}
