{% extends '_base.html' %}
{% block main %}
<div class="b-about-page">
  <div class="b-top-section m-teal">
    <div class="row">
      <div class="large-12 column">
        <h1 class="e-tagline">About</h1>
      </div>
    </div>
  </div>

  <div class="b-divider m-dark-blue">
    <h1>Want to learn more about the Open Governance Research Exchange?</h1>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="column large-12 ">
        <p>We are witnessing a flourishing of innovative ways to tackle society’s problems together—from civic tech to crowdsourcing to nudges to open data. Yet little is known what actually works, when, why, and under what conditions. At the same time, existing research findings are dispersed across innumerable sources, many of which have restricted access.</p>
        <p>As the interest in open governance grows and expands, identifying the signal in the noise—i.e., getting a better sense of what innovations really have an impact and why—will grow increasingly challenging but also increasingly important.</p>
        </div>
    </div>
  </div>

  <div class="b-divider m-blue">
    <div class="row">
        <div class="column small-12">
            <h2>What is the Open Governance Research Exchange (OGRX)?</h2>
        </div>
    </div>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="column large-12 ">
        <p>The Open Governance Research Exchange (OGRX) seeks to solve this problem by curating and making accessible a diversity of findings on innovating governance.</p>
        <p>Developed by the GovLab in collaboration with the World Bank Digital Engagement Evaluation Team and mySociety, OGRX provides:</p>
        <ul>
          <li>A platform for researchers to share findings and methodologies;</li>
          <li>A searchable repository of curated research on open governance;</li>
          <li>A diversity of publication types – from research reports and journal articles to books and dissertations;</li>
          <li>A detailed taxonomy for browsing open governance research comprising innovations, objectives, regions, sectors, and tools; and</li>
          <li>The ability to submit new research for inclusion on the site.</li>
        </ul>
        </div>
    </div>
  </div>

  <div class="b-divider m-blue">
    <div class="row">
        <div class="column small-12">
            <h2>xxx</h2>
        </div>
    </div>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="column large-12 ">
        <p>OGRX features research across areas of governance innovation, including:</p>
        <ul>
          <li>Behavioral Science and Nudges</li>
          <li>Citizen Engagement and Crowdsourcing</li>
          <li>Civic Technology</li>
          <li>Data Analysis</li>
          <li>Expert Networking</li>
          <li>Labs and Experimentation</li>
          <li>Open Data</li>
        </ul>
        </div>
    </div>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="column large-12 ">
        <p>The OGRX platform provides value for different users:</p>
        <ul>
          <li><strong>Researchers</strong> can stay up to date on new findings and methodological approaches in the field of open governance research; and share their work with an interested, like-minded audience;</li>
          <li><strong>Policymakers</strong> can learn about what works in governance innovation to the end of applying those lessons in real-world institutions;</li>
          <li><strong>Technologists</strong> can identify areas where their skills could be applied to the public benefit; and</li>
          <li><strong>Students</strong> of policy or technology can use the platform to study new ways of solving problems.</li>
        </ul>
        <p>Visit <a href="http://www.opengovresearch.org" class="ogr-paragraph" target="_blank" style="text-decoration:none">opengovresearch.org</a> to explore latest findings, submit your own work for inclusion on the platform, and share knowledge with others interested in using science and technology to improve the way we govern.</p>
        </div>
    </div>
  </div>



</div>
{% endblock %}
