{# 
{{picture}}
{{name}}
{{short_desc}}
{{long_desc}}
{{custom_filter}}
{{color}}
{{website}}
{{github}}
{{twitter}}
{{facebook}}
{{other.name}}
{{other.url}}
#}


{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->
<div class="b-author-page">
  <div class="b-top-section">
      <div class="row">
        <div class="large-6 column e-image-column">
          <div class="e-author-picture" style="background-image: url(./img/authors/beth-noveck.jpg)"></div>
          <span class="b-button e-more-info-panel-trigger">More Information</span>
        </div>
        <div class="large-6 column">
          <h1 class="e-name">Beth Simone Noveck</h1>
          <h2 class="e-job">Director of The Govlab</h2>
          <p class="e-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, praesentium, ipsa nam quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit quisquam quis voluptatem modi ullam cupiditate quod repellat? Rerum repellendus qui itaque enim, quod et ipsa praesentium laborum nostrum officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, praesentium, ipsa nam quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit quisquam quis voluptatem modi ullam cupiditate quod repellat? Rerum repellendus qui itaque enim, quod et ipsa praesentium laborum nostrum officia.</p>
          <div class="e-extras">
            <a href="#" class="b-social-media-icon m-twitter" target="_blank"><img src="./img/twitter-logo.png" alt=""></a>
            <a href="#" class="b-social-media-icon m-github" target="_blank"><img src="./img/github-logo.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="b-extra-info-panel">
        <div class="row">
          <div class="large-6 column">
            <h2>Title for section</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quidem tempora libero, nulla, optio sapiente similique provident maiores, officia ducimus dolor, laudantium? Neque consequatur, nostrum, nisi soluta at ipsum nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio libero, ducimus. Vitae consequatur, deserunt vero, accusantium corporis voluptatum eum consequuntur iste animi assumenda sed eaque? Tenetur adipisci, ad rerum asperiores.</p>
          </div>
          <div class="large-6 column">
            <h2>Title for more information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur veritatis molestiae, sapiente possimus praesentium obcaecati sequi, voluptatibus velit id, a totam esse deleniti fugit sunt enim. Quia, nulla sunt autem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, deleniti cum at consequuntur aliquid officiis, veniam error aliquam quaerat, explicabo illum optio ea doloremque illo, similique culpa dolorum tenetur dolores.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="b-divider b-filter-panel m-black">
    <div class="b-filter-ui js-and">
      <h2>Articles</h2>

      <div class="row">
        
      </div>
    </div>
  </div>

  <div class="b-page-section b-results-section b-isotope">
    {% for d in papers %}
      {% if d.organization == "world-bank-digital-engagement-evaluation-team" %}

    <div class="b-result-item m-access-{{d.access | slug}} {% for c in d.taxonomy.category %} m-{{ c | slug}}{% endfor %} f-{{d.access | slug }}">

    
      <a href="{{d.id}}-{{d.title | slug}}.html" title="{{d.title}}">
        {# {% if d.cover_image %}
        <div class="e-result-image" style="background-image: url('{{d.cover_image}}')"></div>
        {% endif %} #}

        

        <h3 class="e-result-name">{{d.title}}</h3>

        {% if d.authors %}
        <p class="e-result-authors">
          {% for author in d.authors %}
            {{ author }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
        {% endif %}

        
        <!-- These IF statements are not really working.  -->

        {% if d.taxonomy.category %}
        <div class="e-result-taxonomy m-category">
          <p>Category</p>
          {% for cat in d.taxonomy.category %} <span class="m-{{cat}}">{{cat}}</span> {% endfor %}
        </div>
        {% endif %}

        {% if d.taxonomy.methodology %}
        <div class="e-result-taxonomy m-methodology">
          <p>Methodology</p>
          {% for met in d.taxonomy.methodology %} <span>{{met}}</span> {% endfor %}
        </div>
        {% endif %}

        {% if d.taxonomy.objective %}
        <div class="e-result-taxonomy m-objective">
          <p>Objective</p>
          {% for obj in d.taxonomy.objective %} <span>{{obj}}</span> {% endfor %}</div>
        {% endif %}

          {# <div class="e-result-extras m-{{d.organization | slug }}">
            {% if d.organization == "the-govlab" %}
              <img class="e-organization-logo" src="img/organizations/govlab-logo-white.png" alt="The GovLab">
            {% elif d.organization == "mysociety" %}
              <img class="e-organization-logo" src="img/organizations/mysociety-logo-white.png" alt="mySociety">
            {% elif d.organization == "world-bank-digital-engagement-evaluation-team" %}
              <img class="e-organization-logo" src="img/organizations/deet-logo-white.png" alt="Digital Engagement Evaluation Team">
            {% endif %} #}

            {% if d.github %} <img class="e-github-logo" src="img/github-logo.svg" alt=""> {% endif %}
            {% if d.datasets %} <i class="material-icons" title="Datasets">file_download</i>{% endif %}
            {% if d.access == "Closed" %} <i class="material-icons m-closed-access" title="Closed Access">lock_outline</i>{% endif %}
          {# </div> #}
        </a>
      </div>  
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endblock %}







<!-- 
"id":"cfcd208495d565ef66e7dff9f98764da",
"related_content":[{"url":"","title":""}],
"access":"",
"title":"The Third Sector and Online Citizen Empowerment: the Case of mySociety",
"organization":"mysociety",
"authors":["Rachel Gibson","Marta Cantijoch","Silvia Galandini"],
"paper_date":"11/1/2014",
"url":"https://www.mysociety.org/files/2014/12/manchester.pdf",
"taxonomy":{"category":["Citizen Engagement and Crowdsourcing","Civic Technology"],
"objective":["Access","Effectiveness","Legitimacy","Participation"],
"methodology":["Case Analysis","Quantitative Analysis","Survey"]},
"sector":"",
"region":"europe",
"type":"research-report",
"github":"",
"abstract": -->