{% extends '_base.html' %}
{% block main %}
<style type="text/css">
.b-card {
    background-color: #efe;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
}
.b-filter:not(.js-change).m-active {
    background-color: #faa;
}
.b-filter-ui {
    background-color: #fee;
}
</style>

<div class="b-page-section">
    <div class="b-filter-ui js-and">
        <div class="row">
            <h2>filter ui</h2>
            <select id="andor">
                <option value="and">AND</option>
                <option value="or">OR</option>
            </select>
            <div class="large-4 columns">
                <h3>multi select container</h3>
                <div class="b-filter-ui-container js-multi">
                    <a class="b-button b-filter js-default js-clear-all" data-filter="*">all</a>
                    <a class="b-button b-filter" data-filter="man">man</a>
                    <a class="b-button b-filter" data-filter="dog">dog</a>
                    <a class="b-button b-filter" data-filter="bear">bear</a>
                </div>
                <h3>single select container</h3>
                <div class="b-filter-ui-container">
                    <a class="b-button b-filter" data-filter="thing">thing</a>
                    <a class="b-button b-filter" data-filter="potato">potato</a>
                    <a class="b-button b-filter" data-filter="car">car</a>
                </div>
            </div>
            <div class="large-4 columns">
                <h3>no container</h3>
                <a class="b-button b-filter" data-filter="creature">creature</a>
                <a class="b-button b-filter" data-filter="alien">alien</a>
                    <a class="b-button b-filter" data-filter="public-prosecutor">public prosecutor</a>
            </div>
            <div class="large-4 columns end">
                <h3>on change</h3>
                <select class="b-filter js-change">
                    <option data-filter="* *">* *</option>
                    <option data-filter="yo">yo</option>
                    <option data-filter="hey">hey</option>
                    <option data-filter="pancake">pancake</option>
                    <option data-filter="squid">squid</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="b-page-section">
    <div class="row">
        <div class="b-isotope" data-filter="man">
            <div class="b-card b-result yo man creature">yo man creature</div>
            <div class="b-card b-result yo dog">yo dog</div>
            <div class="b-card b-result hey man alien">hey man alien</div>
            <div class="b-card b-result hey dog">hey dog</div>
            <div class="b-card b-result hey dog potato">hey dog potato</div>
            <div class="b-card b-result hey potato thing">hey potato thing</div>
            <div class="b-card b-result hey man alien pancake">hey man alien pancake</div>
            <div class="b-card b-result hey dog squid">hey dog squid</div>
            <div class="b-card b-result yo pancake alien creature">yo pancake alien creature</div>
            <div class="b-card b-result yo alien public-prosecutor">yo alien public prosecutor</div>
            <div class="b-card b-result hey squid car creature">hey squid car creature</div>
            <div class="b-card b-result alien potato bear">alien potato bear</div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescripts %}
<script>
$(function() {
    $('#andor').on('change', function() {
        if ($(this).val() === 'and') {
            $(this).closest('.b-filter-ui').removeClass('js-or');
            $(this).closest('.b-filter-ui').addClass('js-and');
        } else {
            $(this).closest('.b-filter-ui').removeClass('js-and');
            $(this).closest('.b-filter-ui').addClass('js-or');
        }
    });
});
</script>
{% endblock %}