{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->
<div class="b-top-section">
  <div class="row expanded">
    <div class="small-10 column small-centered">
      <h1>Open Governance <br>Research Exchange</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odio commodi nostrum! Fuga nulla obcaecati, cum ut optio iste possimus! Illo pariatur tempora quis esse sunt assumenda quo, doloribus nam?</h3>
    </div>
  </div>
</div>
<div class="b-page-section b-main-search-section">
    <div class="row">
      <div class="large-12 column">
        <h3 class="e-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, praesentium, ipsa nam quam.</h3>
      </div>
    </div>

    <div class="row">
        <div class="small-10 large-8 small-centered columns">
            <div class="row">
                <form class="b-search m-main-search m-negative" action="search.html">
                    <input id="index-search" class="" type="text" name="s"><!--
                 --><input class="e-search-trigger material-icons" type="submit" value="search">
                </form>

            </div>
            <div class="row b-browsing-ways">
              <div class="large-12 column">
                <a href="all-categories.html" class="b-button e-way">See All Categories</a>
              </div>
            </div>
        </div>
    </div>

</div>

<div id="organizations" class="b-divider">
  <div class="row expanded m-black">
    <h1>Browse by Organization</h1>
  </div>
</div>

<div class="b-page-section b-organizations">
  <div class="row expanded">
    {% for organization in organizations %}
      <div class="medium-4 column">
        <div class="e-organization-logo m-{{ organization.title | slug }}">
          <a href="{{ organization.id }}-{{ organization.title | slug }}.html"><img src="img/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div id="categories" class="b-divider">
  <div class="row expanded">
    <h1>Browse by Category</h1>
  </div>
</div>

<div class="b-page-section b-main-categories">

    <div class="row expanded">
      <div class="medium-3 show-for-medium column m-all">
        <a class="e-category-item" href="{{categories[0].id}}-{{categories[0].title | slug}}.html">All</a>
      </div>
      <div class="medium-3 column m-{{categories[1].title | slug}}">
        <a class="e-category-item" href="{{categories[1].id}}-{{categories[1].title | slug}}.html">{{categories[1].title}}</a>
      </div>
      <div class="medium-3 column m-{{categories[3].title | slug}}">
        <a class="e-category-item" href="{{categories[3].id}}-{{categories[3].title | slug}}.html">{{categories[3].title}}</a>
      </div>
      <div class="medium-3 column m-{{categories[2].title | slug}}">
        <a class="e-category-item" href="{{categories[2].id}}-{{categories[2].title | slug}}.html">{{categories[2].title}}</a>
      </div>
    </div>
    <div class="row expanded">
      <div class="medium-3 column m-{{categories[4].title | slug}}">
        <a class="e-category-item" href="{{categories[4].id}}-{{categories[4].title | slug}}.html">{{categories[4].title}}</a>
      </div>
      <div class="medium-3 column m-{{categories[5].title | slug}}">
        <a class="e-category-item" href="{{categories[5].id}}-{{categories[5].title | slug}}.html">{{categories[5].title}}</a>
      </div>
      <div class="medium-3 column m-{{categories[6].title | slug}}">
        <a class="e-category-item" href="{{categories[6].id}}-{{categories[6].title | slug}}.html">{{categories[6].title}}</a>
      </div>
      <div class="medium-3 column m-{{categories[7].title | slug}}">
        <a class="e-category-item" href="{{categories[7].id}}-{{categories[7].title | slug}}.html">{{categories[7].title}}</a>
      </div>

    </div>
  </div>



<!-- <div class="b-page-section">
  <div class="row">
    <div class="large-8 large-centered">
      <h2>What is the OpenGov Research</h2>
      <p>Advances in technology together with new scientific insights on collaboration and decision-making provide for a unique opportunity to redesign our democratic and civic institutions and, indeed, the very notion of citizenship in our democracy. Despite a flourishing of civic innovation, civic tech, open government and open data - innovative uses of technology to enable citizens and institutions to tackle society’s biggest problems together - we know too little about what kinds of innovation work, when, why, and under what conditions. Efforts to study new ways to solve public problems has been hampered by the lack of interaction and coordination across traditional disciplinary boundaries and between activists and academics. The Research Repository seeks to curate and help design research on solving public problems differently.</p>
    </div>
  </div>
</div> -->

{% endblock %}
