{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->

<div class="row">
  <div class="column large-12">
    <h2>DEET</h2>
    {% for d in papers %}
    {% if d.organization == "world-bank-digital-engagement-evaluation-team" %}
    <p><a href="{{d.id}}-{{d.title | slug}}.html">{{d.title}}</a></p>    
    {% endif %}
    {% endfor %}

    <h2>MySociety</h2>
    {% for d in papers %}
    {% if d.organization == "mysociety" %}
    <p><a href="{{d.id}}-{{d.title | slug}}.html">{{d.title}}</a></p>    
    {% endif %}
    {% endfor %}

    <h2>Govlab</h2>
    {% for d in papers %}
    {% if d.organization == "the-govlab" %}
    <p><a href="{{d.id}}-{{d.title | slug}}.html">{{d.title}}</a></p>    
    {% endif %}
    {% endfor %}

    <h2>All</h2>

    {% for d in papers %}
    <p><a href="{{d.id}}-{{d.title | slug}}.html">{{d.title}}</a></p>    
    {% endfor %}

  </div>
</div>

{% endblock %}
