{% extends '_base.html' %}

{% block main %}
<!-- main content starts here -->
<div class="b-top-section">
  <div class="row expanded">
    <div class="small-10 column small-centered">
      <h1>Open Governance <br>Research Exchange</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odio commodi nostrum! Fuga nulla obcaecati, cum ut optio iste possimus! Illo pariatur tempora quis esse sunt assumenda quo, doloribus nam?</h3>
    </div>
  </div>
</div>

<div class="b-page-section b-main-categories">
  <div class="row expanded">
    <h1>lunr.js test</h1>

    <form class="b-form">
        <input id="lunr-search" type="text" placeholder="Search" />
    </form>

    <h2>Results</h2>
    <div class="b-lunr-results"></div>

  </div>
</div>


{% endblock %}
