{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->
<div class="b-search-page">
  <div class="b-top-section m-main-color">
      <div class="row">
          <div class="small-10 large-8 small-centered columns">
              <div class="row">
                  <form class="b-search m-main-search m-negative" action="">
                      <input id="lunr-search" class="" type="text"><!--
                   --><input class="e-search-trigger material-icons" type="submit" value="search">
                  </form>
              </div>
          </div>
      </div>

  </div>

  <div class="b-divider">
    <div class="row">
      <h2>Results</h2>
    </div>
  </div>

  <div class="b-page-section b-search-results">
    <div class="row expanded">
      <div class="b-lunr-results"></div>  
    </div>
    
  </div>

  
</div>
{% endblock %}



