{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->
<div class="b-search-page">
  <div class="b-top-section m-teal">
      <div class="row">
        <div class="large-12 column">
          <h3 class="e-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, praesentium, ipsa nam quam.</h3>
        </div>  
      </div>
      
      <div class="row">
          <div class="small-10 large-8 small-centered columns">
              <div class="row">
                  <form class="b-search m-main-search m-negative" action="">
                      <input class="" type="text"><!--
                   --><input class="e-search-trigger material-icons" type="submit" value="search">
                  </form>
              </div>
          </div>
      </div>

  </div>

  <div class="b-divider">
    <div class="row expanded m-black">
      <h1>Browse by Category</h1>
    </div>
  </div>

  <div class="b-page-section b-main-categories">
    
    <div class="row expanded">
      <div class="medium-3 show-for-medium column m-{{categories[0].title | slug}}">
        <div class="e-category-item"><a href="{{categories[0].id}}-{{categories[0].title | slug}}.html">{{categories[0].title}}</a></div>
      </div>
      <div class="medium-3 column m-{{categories[1].title | slug}}">
        <div class="e-category-item"><a href="{{categories[1].id}}-{{categories[1].title | slug}}.html">{{categories[1].title}}</a></div>
      </div>
      <div class="medium-3 column m-{{categories[2].title | slug}}">
        <div class="e-category-item"><a href="{{categories[2].id}}-{{categories[2].title | slug}}.html">{{categories[2].title}}</a></div>
      </div>
      <div class="medium-3 column m-{{categories[3].title | slug}}">
        <div class="e-category-item"><a href="{{categories[3].id}}-{{categories[3].title | slug}}.html">{{categories[3].title}}</a></div>
      </div>
    </div>
    <div class="row expanded">
      <div class="medium-3 column m-{{categories[4].title | slug}}">
        <div class="e-category-item"><a href="{{categories[4].id}}-{{categories[4].title | slug}}.html">{{categories[4].title}}</a></div>
      </div>
      <div class="medium-3 column m-{{categories[5].title | slug}}">
        <div class="e-category-item"><a href="{{categories[5].id}}-{{categories[5].title | slug}}.html">{{categories[5].title}}</a></div>
      </div>
      <div class="medium-3 column m-{{categories[6].title | slug}}">
        <div class="e-category-item"><a href="{{categories[6].id}}-{{categories[6].title | slug}}.html">{{categories[6].title}}</a></div>
      </div>
      <div class="medium-3 column m-{{categories[7].title | slug}}">
        <div class="e-category-item"><a href="{{categories[7].id}}-{{categories[7].title | slug}}.html">{{categories[7].title}}</a></div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}



