{% extends '_base.html' %}
{% block main %}
<!-- main content starts here -->
<div class="b-search-page">
  <div class="b-top-section m-teal">
      <div class="row">
        <div class="large-12 column">
          <h3 class="e-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, praesentium, ipsa nam quam.</h3>
        </div>  
      </div>
      
      <div class="row">
          <div class="small-10 large-8 small-centered columns">
              <div class="row">
                  <form class="b-search m-main-search m-negative" action="">
                      <input class="" type="text"><!--
                   --><input class="e-search-trigger material-icons" type="submit" value="search">
                  </form>
              </div>
          </div>
      </div>

  </div>

  <div class="b-divider">
    <div class="row expanded m-black">
      <h1>Browse by Category</h1>
    </div>
  </div>

  <div class="b-page-section b-main-categories">
    
    <div class="row expanded">
      <div class="medium-3 show-for-medium column">
        <div class="e-category-item">All</div>
      </div>
      <div class="medium-3 column m-behavioral-research">
        <div class="e-category-item">Behavioral Research</div>
      </div>
      <div class="medium-3 column m-citizen-engagement">
        <div class="e-category-item">Citizen Engagement</div>
      </div>
      <div class="medium-3 column m-civic-technology">
        <div class="e-category-item">Civic Technology</div>
      </div>
    </div>
    <div class="row expanded">
      <div class="medium-3 column m-data-analysis">
        <div class="e-category-item">Data Analysis</div>
      </div>
      <div class="medium-3 column m-expert-networking">
        <div class="e-category-item">Expert Networking</div>
      </div>
      <div class="medium-3 column m-open-data">
        <div class="e-category-item">Open Data</div>
      </div>
      <div class="medium-3 column m-labs-and-experimentation">
        <div class="e-category-item">Labs and Experimentation</div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}



