{% import 'macros/result_item_macro.html' as resultItem %}
{% extends '_base.html' %}

{% block main %}
  <div class="b-author-page">
    {# Author's Info #}
    <div class="b-top-section">
      <div class="row">
        <div class="large-6 column e-image-column">
          <div class="e-author-picture" style="background-image: url(./img/authors/{{ image }})"></div>
          {% if long_description %}<span class="b-button e-more-info-panel-trigger" onclick="$('.b-extra-info-panel').toggleClass('visible');">More Information</span>{% endif %}
        </div>
        <div class="large-6 column">
          <h1 class="e-name">{{ title }}</h1>
          <h2 class="e-job">{{ job }}</h2>
          <p class="e-description">{{ short_description }}</p>
          <div class="e-extras">
            {% if social_media.twitter %}
              <a href="{{ social_media.twitter }}" class="b-social-media-icon m-twitter" target="_blank"><img src="./img/twitter-logo.png" alt=""></a>
            {% endif %}
            {% if social_media.github %}
              <a href="{{ social_media.github }}" class="b-social-media-icon m-github" target="_blank"><img src="./img/github-logo.svg" alt=""></a>
            {% endif %}
          </div>
        </div>
      </div>

      {# Extra Info Panel #}
      <div class="b-extra-info-panel">
        <div class="row">
          <div class="large-6 column">
            <h2>Title for section</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quidem tempora libero, nulla, optio sapiente similique provident maiores, officia ducimus dolor, laudantium? Neque consequatur, nostrum, nisi soluta at ipsum nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio libero, ducimus. Vitae consequatur, deserunt vero, accusantium corporis voluptatum eum consequuntur iste animi assumenda sed eaque? Tenetur adipisci, ad rerum asperiores.</p>
          </div>
          <div class="large-6 column">
            <h2>Title for more information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur veritatis molestiae, sapiente possimus praesentium obcaecati sequi, voluptatibus velit id, a totam esse deleniti fugit sunt enim. Quia, nulla sunt autem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, deleniti cum at consequuntur aliquid officiis, veniam error aliquam quaerat, explicabo illum optio ea doloremque illo, similique culpa dolorum tenetur dolores.</p>
          </div>
        </div>
      </div>
    </div>

    {# Article Section #}
    <div class="b-divider b-filter-panel m-black">
      <div class="b-filter-ui js-and">
        <h2>Articles</h2>
      </div>
    </div>

    {# List of Articles #}
    <div class="b-page-section b-results-section b-isotope">
      {% for paper in $global.papers %}
        {% if title in paper.authors or custom_filter in paper.authors %}
          {{resultItem.createResult(paper)}}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
