<!-- INLINE MACRO FOR WIP - will remove when real macro is merged -->

{% macro createResult(paper) %}

<div class="b-result-item m-access-{{paper.access | slug}} f-{{paper.organization | slug}} f-{{paper.taxonomy.objective | slug}} f-{{paper.access | slug}} f-{{paper.taxonomy.methodology | slug}} f-{{paper.sector | slug}} f-{{paper.sector | slug}} f-{{paper.region | slug}} f-{{paper.sector | slug}} f-{{paper.type | slug}} {% for c in paper.taxonomy.category %} m-{{ c | slug}}{% endfor %} ">

    
      <a href="{{paper.id}}-{{paper.title | slug}}.html" title="{{paper.title}}">
        {# {% if paper.cover_image %}
        <div class="e-result-image" style="background-image: url('{{paper.cover_image}}')"></div>
        {% endif %} #}

        

        <h3 class="e-result-name">{{paper.title}}</h3>

        {% if paper.authors %}
        <p class="e-result-authors">
          {% for author in paper.authors %}
            {{ author }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
        {% endif %}

        
        <!-- These IF statements are not really working.  -->

        {% if paper.taxonomy.category %}
        <div class="e-result-taxonomy m-category">
          <p>Category</p>
          {% for cat in paper.taxonomy.category %} <span class="m-{{cat}}">{{cat}}</span> {% endfor %}
        </div>
        {% endif %}

        {% if paper.taxonomy.methodology %}
        <div class="e-result-taxonomy m-methodology">
          <p>Methodology</p>
          {% for met in paper.taxonomy.methodology %} <span>{{met}}</span> {% endfor %}
        </div>
        {% endif %}

        {% if paper.taxonomy.objective %}
        <div class="e-result-taxonomy m-objective">
          <p>Objective</p>
          {% for obj in paper.taxonomy.objective %} <span>{{obj}}</span> {% endfor %}</div>
        {% endif %}

          <div class="e-result-extras m-{{paper.organization | slug }}">
            {% if paper.organization == "the-govlab" %}
              <img class="e-organization-logo" src="img/organizations/govlab-logo-white.png" alt="The GovLab">
            {% elif paper.organization == "mysociety" %}
              <img class="e-organization-logo" src="img/organizations/mysociety-logo-white.png" alt="mySociety">
            {% elif paper.organization == "world-bank-digital-engagement-evaluation-team" %}
              <img class="e-organization-logo" src="img/organizations/deet-logo-white.png" alt="Digital Engagement Evaluation Team">
            {% endif %}

            {% if paper.github %} <img class="e-github-logo" src="img/github-logo.svg" alt=""> {% endif %}
            {% if paper.datasets %} <i class="material-icons" title="Datasets">file_download</i>{% endif %}
            {% if paper.access == "Closed" %} <i class="material-icons m-closed-access" title="Closed Access">lock_outline</i>{% endif %}
          </div>
        </a>
      </div>


{% endmacro %}

{# END MACRO _ REMOVE WHEN MERGED #}

{% extends '_base.html' %}

{% block main %}
  <div class="b-author-page">
    {# Author's Info #}
    <div class="b-top-section">
      <div class="row">
        <h2>{{title}}</h2>
        </div>
      </div>
    </div>
  </div>

    {# Article Section #}
    <div class="b-divider b-filter-panel m-black">
      <div class="b-filter-ui js-and">
        <h2>Articles</h2>
      </div>
    </div>

    {# List of Articles #}
    <div class="b-page-section b-results-section b-isotope">
      {% for paper in $global.papers %}
        {% if title in paper.authors %}
          {{createResult(paper)}}
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
