// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss

.b-filter-ui {
    .b-button.m-active {
        background-color: $white-30;
    }
    .e-select {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        select, &::before {
            color: $white;
        }
        select {
            z-index: 2;
        }
        &::before {
            z-index: 1;
            pointer-events: none;
        }
    }
}

.b-search-page {
  
}

.access-switch {
  .switch { text-align: center; }
}

main {
    margin-top: -66px;
    .b-top-section { padding-top: 136px; }    
}



// Custom icon for twitter (maybe push this to styleguide)
.b-top-nav {
    background-color: rgba($black, .2);

    .e-social-media img { width: 20px; }
    .e-logo { 
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: .5px;
      padding: 8px;
    }
  }
