// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss


body {
  
  
}

.b-search-page {
  
}

.access-switch .switch { text-align: center; }



.b-top-section {
  background-color: $main-color;
  margin-top: -66px;
  padding-top: 136px;
}

.b-top-nav {
  background-color: rgba($black, .2);

  .e-social-media img { width: 20px; } // Custom icon for twitter (maybe push this to styleguide)
  
  .e-logo { 
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px;

    &:hover { text-decoration: none; }
  }
}

.b-browsing-ways {
  text-align: center;
  padding-top: 30px;

  .e-way {
    color: $white;
  }
}

.b-main-search-section {
  background-color: darken($main-color, 4);
}