.b-main-categories {
  padding: 0;

  .e-category-item {
    padding: 25% 0;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: $white;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  // Colors for the main categories
  .m-all {
    background-color: $all;
  }
  .m-behavioral-research {
    background-color: $behavioral-research;
  }
  .m-citizen-engagement {
    background-color: $citizen-engagement;
  }
  .m-civic-technology {
    background-color: $civic-technology;
  }
  .m-data-analysis {
    background-color: $data-analysis;
  }
  .m-expert-networking {
    background-color: $expert-networking;
  }
  .m-open-data {
    background-color: $open-data;
  }
  .m-labs-and-experimentation {
    background-color: $labs-and-experimentation;
  }
}

.b-organizations {
  .e-organization-logo {
    padding: 60px 20px;

    @include breakpoint($mobile-only) {
      max-width: 260px;
      margin: 0 auto;
    }
  }
}

.b-top-section {
  // Colors for the top sections
  &.m-all {
    background-color: $all;
  }
  &.m-behavioral-research {
    background-color: $behavioral-research;
  }
  &.m-citizen-engagement {
    background-color: $citizen-engagement;
  }
  &.m-civic-technology {
    background-color: $civic-technology;
  }
  &.m-data-analysis {
    background-color: $data-analysis;
  }
  &.m-expert-networking {
    background-color: $expert-networking;
  }
  &.m-open-data {
    background-color: $open-data;
  }
  &.m-labs-and-experimentation {
    background-color: $labs-and-experimentation;
  }
}