.b-search.m-main-search {
    input[type="text"] {
    padding: 28px;
    font-size: 24px;
    width: calc(100% - 60px);  
    max-width: 100%;

    &:focus {
      background-color: rgba($white, .3);
    }
  }

  input[type="submit"] {
    padding: 17px;
    background-color: rgba($white, .2);
  }

  input[type="text"]:focus ~ input[type="submit"] {
    background-color: rgba($black, .4);
  }
  
}

.b-main-search-section {
  background-color: rgba($black, .2);

  .e-tagline {
    text-align: center;
    padding: 0 0 40px;
    color: $white;

    @include breakpoint($mobile-only) {
      font-size: 16px;
    }
  }
}

.b-organizations {
  background-color: $white;

  .m-digital-engagement-evaluation-team { max-width: 330px !important; }
}