// styles.scss
// used to manage sass dependencies by only importing the sass files that will be used in the site build
// add any site-specific sass you want to use here using an @import

$small-only: (max-width 40em);
$medium: 40.063em 64em;
$large: 64.063em 90em;

// Colors
$main-color: rgba(59, 101, 109, 1);

$gray:      rgba(113, 126, 129, 1);
$green:     rgba( 86, 161, 115, 1);
$orange:    rgba(214,  90,  67, 1);
$green2:    rgba( 96, 122,  52, 1);
$yellow:    rgba(217, 190,  91, 1);
$brown:     rgba(106,  79,  59, 1);
$blue:      rgba( 63, 112, 182, 1);
$blue-gray: rgba(102, 139, 152, 1);
$dark-blue: rgba( 49,  73,  86, 1);
$teal:      rgba( 75, 140, 142, 1);
$red:       rgba(179,  57,  69, 1);


// Mapping the base colors to the category vars
$all: $gray;
$behavioral-research: $blue;
$citizen-engagement: $green2;
$civic-technology: $yellow;
$data-analysis: $orange;
$expert-networking: $brown;
$open-data: $dark-blue;
$labs-and-experimentation: $teal;


// Importing Styleguide
@import '../../node_modules/govlab-styleguide/sass/styles'; // govlab-styleguide sass

// New Components
@import 'main-search';
@import 'switch';
@import 'news-box';
@import 'main-categories';
@import 'results';
@import 'filter-ui';

// Site specific styles
@import 'paper-page';

@import 'custom';